label {
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 100px;
}

h1 {
    text-align: center;
    color: rgb(37, 37, 190);
    margin-bottom: 40px;
    margin-top: 20px;
}

#name {
    width: 500px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#email {
    width: 700px;
    margin-left: 40px;
}

#mobile {
    width: 400px;
    margin-left: 40px;
}

#category {
    margin-left: 40px;
    width: 400px;
}

#picture {

    margin-left: 80px;
}

#technology {
    margin-left: 16px;
}

#pic {
    margin-left: 55px !important;
}

button {
    margin-left: 400px;
}

button:hover {
    background-color: grey;
}

#box {
    background-color: azure;
    align-self: center;
}

#c,
#cpp,
#java,
#python,
#javascript {
    margin-left: 100px;
}

h4 {
    font-size: 15px;
}

span {
    font-size: 12px;
    color: red;
}

img {
    margin-left: 100px;
    object-fit: cover;

}

#male,
#female {
    margin-left: 30px;
}

h3 {
    text-align: center;
}

#close {
    margin-left: 70px;
}

#submit {
    margin-right: 100px;
}